.notice
  指を選択してください

= form_for [@attack] do |f|

  - if  @turn_num.to_i >= 1 && @turn_num.to_i <= 99
    .hands
      = render "left_finger"
      = render "right_finger"
    = render "attack_hand"
    = render "form"

  - elsif @turn_num.to_i >= 101 && @turn_num.to_i <= 199 && @group.users[1] == current_user
    .hands
      = render "left_finger"
      = render "right_finger"
    = render "attack_hand"    
    = render "form"

  - elsif @turn_num.to_i >= 101 && @turn_num.to_i <= 199 && @group.users[0] == current_user  
    .hands
      = render "left_finger"
    = render "attack_hand"    
    = render "form"

  - elsif @turn_num.to_i >= 501 && @turn_num.to_i <= 599 && @group.users[1] == current_user
    .hands
      = render "left_finger"
    = render "attack_hand"    
    = render "form"

  - elsif @turn_num.to_i >= 501 && @turn_num.to_i <= 599 && @group.users[0] == current_user
    .hands
      = render "left_finger"
      = render "right_finger"
    = render "attack_hand"    
    = render "form"

  - elsif @turn_num.to_i >= 601 && @turn_num.to_i <= 700
    .hands
      = render "left_finger"
    = render "attack_hand"    
    = render "form"