:javascript
  window.onload = setupRefresh;

  function setupRefresh() {
    setTimeout("refreshPage();", 3000);
  }
  function refreshPage() {
    window.location = location.href;
  }

%header
  .logo
    = link_to root_path do
      %img{src:"/ロゴ透過なし.png", alt: "logo"}
  .my-name
    - if user_signed_in?
      = link_to user_path(current_user.id) do
        = "#{current_user.name}(マイページ)"
  .logout
    = link_to "ログアウト", destroy_user_session_path, method: :delete
.wrapper
  .title
    %img{:alt => "ロゴ", :src => "/ロゴ.png"}/
  
  .button
    = link_to "グループを作る", "groups/new" 
  
  %h2 募集ルーム一覧
  .group-list
    %ul.groups    
      - @groups.first(10).each do |group|
        %li.group
          =link_to group_path(group), class: "group" do
            .group-name
              .group-name-name
                = "【#{group.name}】"
              .group-host
                = "オーナー名: #{group.users[0].name}"
          

  