:javascript
  window.onload = setupRefresh;

  function setupRefresh() {
    setTimeout("refreshPage();", 3000);
  }
  function refreshPage() {
    window.location = location.href;
  }

.result 
  .aite-result
    相手
    -if @attack.user_id.to_i != current_user.id    
      - if @attack.left.to_i == 1
        .left-hand 
          %img{src:"/left-up.png", class:"up"}
      -else
        .left-hand 
          %img{src:"/left-down.png", class:"up"}
      - if @attack.right    
        - if @attack.right.to_i == 1
          .right-hand 
            %img{src:"/right-up.png", class:"up"}
        -else
          .right-hand   
            %img{src:"/right-down.png", class:"up"}
      - else
        .right-hand
          = ""      
    -elsif @defence.user_id.to_i != current_user.id
      - if @defence.left.to_i == 1
        .left-hand 
          %img{src:"/left-up.png", class:"up"}
      -else
        .left-hand 
          %img{src:"/left-down.png", class:"up"}
      - if @defence.right
        - if @defence.right.to_i == 1
          .right-hand 
            %img{src:"/right-up.png", class:"up"}
        -else   
          .right-hand
            %img{src:"/right-down.png", class:"up"}
      - else
        .right-hand
          = ""

  .call
    .call-text
      = "#{@attack.call}  !"
    .atari  
      = "〜#{@result}〜"  

  .nakama-result
    あなた
    -if @attack.user_id.to_i == current_user.id    
      - if @attack.left.to_i == 1
        .left-hand 
          %img{src:"/left-up.png", class:"up"}
      -else
        .left-hand 
          %img{src:"/left-down.png", class:"up"}
      - if @attack.right 
        - if @attack.right.to_i == 1
          .right-hand 
            %img{src:"/right-up.png", class:"up"}
        -else
          .right-hand
            %img{src:"/right-down.png", class:"up"}
      -else
        .right-hand
          = ""    
    -elsif @defence.user_id.to_i == current_user.id    
      - if @defence.left.to_i == 1
        .left-hand 
          %img{src:"/left-up.png", class:"up"}
      -else
        .left-hand 
          %img{src:"/left-down.png", class:"up"}
      - if @defence.right
        - if @defence.right.to_i == 1
          .right-hand 
            %img{src:"/right-up.png", class:"up"}
        -else   
          .right-hand
            %img{src:"/right-down.png", class:"up"}
      - else
        .right-hand
          = ""         



- if current_user.id.to_i == @attack.user_id.to_i && current_user.id == @owner.id
  .next-turn
    = link_to defences_new_path(@group,@next_turn,@turn_num_next) do
      次のターンへ
- elsif current_user.id.to_i == @defence.user_id.to_i && current_user.id == @owner.id
  .next-turn
    = link_to attacks_new_path(@group,@next_turn,@turn_num_next) do
      次のターンへ