.title
  結果表示

.result

  .attack
    .result-title
      攻撃側

    %p      
      左手
      = @attack.left

      右手
      = @attack.right

    %p
      合計
      = @attackresult



  .defence
    .result-title
      守備側

    %p     
      左手
      = @defence.left

      - if @defence.right
        右手
        = @defence.right
      - else
        右手
        = "なし"    
          

    %p
      合計
      = @defenceresult



%p.attack-call
  コール
  = @attack.call




.atari  
  = "〜#{@result}〜"


- if current_user.id.to_i == @attack.user_id.to_i
  .next-turn
    = link_to defences_new_path(@group,@next_turn_attack,@turn_num_next) do
      次のターンへ
- else
  .next-turn
    = link_to attacks_new_path(@group,@next_turn_defence,@turn_num_next) do
      次のターンへ